In [6]:
import pandas as pd

transactions_path = "../data/raw/client_1_transactions_3m.csv"
transfers_path = "../data/raw/client_1_transfers_3m.csv"

transactions = pd.read_csv(transactions_path)
transfers = pd.read_csv(transfers_path)

print("✅ Данные загружены")

✅ Данные загружены

In [7]:
print("Транзакции:", transactions.shape)
print("Переводы:", transfers.shape)

print("\nПервые 5 транзакций:")
display(transactions.head())

print("\nПервые 5 переводов:")
display(transfers.head())

Транзакции: (300, 9)
Переводы: (300, 10)

Первые 5 транзакций:

,client_code,name,product,status,city,date,category,amount,currency
0,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 09:10:36,Такси,6424.48,KZT
1,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 09:15:49,Такси,2643.90,KZT
2,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 13:10:49,Смотрим дома,4716.59,KZT
3,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 15:40:10,Такси,3669.43,KZT
4,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 17:40:30,Играем дома,5095.03,KZT

Первые 5 переводов:

,client_code,name,product,status,city,date,type,direction,amount,currency
0,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-01 11:40:16,card_out,out,9359.56,KZT
1,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-02 13:10:59,card_out,out,17590.68,KZT
2,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-02 20:23:02,card_out,out,19677.33,KZT
3,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-03 09:50:44,card_out,out,37686.28,KZT
4,1,Айгерим,Карта для путешествий,зп,Алматы,2025-06-03 14:17:12,card_out,out,7880.48,KZT

In [8]:
if "category" in transactions.columns:
    print("Уникальные категории транзакций:")
    print(transactions["category"].unique())

if "currency" in transactions.columns:
    print("\nВалюты:")
    print(transactions["currency"].unique())

Уникальные категории транзакций:
['Такси' 'Смотрим дома' 'Играем дома' 'Продукты питания' 'Едим дома'
 'Кафе и рестораны' 'АЗС' 'Кино' 'Путешествия' 'Отели' 'Развлечения']

Валюты:
['KZT']

In [9]:
print("Пропуски в транзакциях:")
print(transactions.isna().sum())

print("\nПропуски в переводах:")
print(transfers.isna().sum())

Пропуски в транзакциях:
client_code    0
name           0
product        0
status         0
city           0
date           0
category       0
amount         0
currency       0
dtype: int64

Пропуски в переводах:
client_code    0
name           0
product        0
status         0
city           0
date           0
type           0
direction      0
amount         0
currency       0
dtype: int64

In [10]:
if "date" in transactions.columns:
    transactions["date"] = pd.to_datetime(transactions["date"], errors="coerce")
    print("Диапазон дат по транзакциям:")
    print(transactions["date"].min(), "→", transactions["date"].max())

Диапазон дат по транзакциям:
2025-06-01 09:10:36 → 2025-08-31 20:30:15